<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/header.ejs') %>

    <link rel="stylesheet" href="../style/admin-page.css">
    <title>Administrador</title>
</head>
<body>
    <%- include('partials/navigation.ejs') %>

    <a class="btn btn-primary" href="/all-ecoActividades ">Ver todas las Eco Actividades</a>
    
    <% ecoActividad.forEach(function (ecoActividad) { %>

        <% if(ecoActividad.estado == "pendiente"){ %>

            <div class="container p-4" >
                <div class="col-md-4" style="display: flex;">
                    <div class="card" >
                        <div class="card-header">
                            <%= ecoActividad.nombreEcoActividad %> / <%= ecoActividad.nombreEncargado %> <%= ecoActividad.apellidoEncargado %>
                        </div>
                        <div class="card-body">
                            <p><%= ecoActividad.diaEcoActividad %>/<%= ecoActividad.mesEcoActividad %>/<%= ecoActividad.anoEcoActividad %>  </p>
                            <p> inicio: <%= ecoActividad.horaInicioEcoActividad %> fin: <%= ecoActividad.horaFinEcoActividad %> </p>
                            <p><%= ecoActividad.detallesEcoACtividad %></p>
                            <p>DNI: <%= ecoActividad.dniEncargado %> Celular: <%= ecoActividad.numeroEncargado %> Email: <%= ecoActividad.gmaiEncargado %></p>
                        </div>
                        <div class="card-footer">
                            <a href="/enable/<%= ecoActividad.id %>/<%= ecoActividad.nombreEcoActividad %>/<%= ecoActividad.diaEcoActividad %>/<%= ecoActividad.mesEcoActividad %>/<%= ecoActividad.anoEcoActividad %>/<%= ecoActividad.horaInicioEcoActividad %>/<%= ecoActividad.horaFinEcoActividad %>/<%= ecoActividad.ubicacionEcoActividad %>/<%= ecoActividad.departamentoEcoActividad %>/<%= ecoActividad.detallesEcoActividad %>/<%= ecoActividad.nombreEncargado %>/<%= ecoActividad.apellidoEncargado %>/<%= ecoActividad.dniEncargado %>/<%= ecoActividad.numeroEncargado %>/<%= ecoActividad.gmaiEncargado %>" class="btn btn-primary">
                                ACEPTAR
                            </a>
                            <a href="/modificar/<%= ecoActividad.id %>/<%= ecoActividad.nombreEcoActividad %>/<%= ecoActividad.diaEcoActividad %>/<%= ecoActividad.mesEcoActividad %>/<%= ecoActividad.anoEcoActividad %>/<%= ecoActividad.horaInicioEcoActividad %>/<%= ecoActividad.horaFinEcoActividad %>/<%= ecoActividad.ubicacionEcoActividad %>/<%= ecoActividad.departamentoEcoActividad %>/<%= ecoActividad.detallesEcoActividad %>/<%= ecoActividad.nombreEncargado %>/<%= ecoActividad.apellidoEncargado %>/<%= ecoActividad.dniEncargado %>/<%= ecoActividad.numeroEncargado %>/<%= ecoActividad.gmaiEncargado %>/<%= ecoActividad.estado%>" class="btn btn-success">
                                MODIFICAR
                            </a>
                            <a href="/desable/<%= ecoActividad.id %>/<%= ecoActividad.nombreEcoActividad %>/<%= ecoActividad.diaEcoActividad %>/<%= ecoActividad.mesEcoActividad %>/<%= ecoActividad.anoEcoActividad %>/<%= ecoActividad.horaInicioEcoActividad %>/<%= ecoActividad.horaFinEcoActividad %>/<%= ecoActividad.ubicacionEcoActividad %>/<%= ecoActividad.departamentoEcoActividad %>/<%= ecoActividad.detallesEcoActividad %>/<%= ecoActividad.nombreEncargado %>/<%= ecoActividad.apellidoEncargado %>/<%= ecoActividad.dniEncargado %>/<%= ecoActividad.numeroEncargado %>/<%= ecoActividad.gmaiEncargado %>" class="btn btn-danger">
                                RECHAZAR
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        <% } %>
        
    <% }) %>

</body>
</html>