<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/header.ejs') %>

    <link rel="stylesheet" href="../style/calendario2023Enero.css" />
    <title>Calendario de Eco-Actividades</title>
  </head>
  <body>
    <%- include('partials/navigation.ejs') %>
    <div class="conteiner">
      <div class="calendario">
        <div class="calendarioHeader">
          <form action="/calendario2022Oct">
            <button>-</button>
          </form>
          <h1>Noviembre 2022</h1>
          <form action="/calendario">
            <button>+</button>
          </form>
        </div>

        <ol>
          <li class="day-name">Lun</li>
          <li class="day-name">Mar</li>
          <li class="day-name">Mie</li>
          <li class="day-name">Jue</li>
          <li class="day-name">Vier</li>
          <li class="day-name">Sab</li>
          <li class="day-name">Dom</li>
          <button class="first-day">1</button>
          <button>2</button>
          <button>3</button>
          <button>4</button>
          <button>5</button>
          <button>6</button>
          <button>7</button>
          <button>8</button>
          <button>9</button>
          <button>10</button>
          <button>11</button>
          <button>12</button>
          <button>13</button>
          <button>14</button>
          <button>15</button>
          <button>16</button>
          <button>17</button>
          <button>18</button>
          <button>19</button>
          <button>20</button>
          <button>21</button>
          <button>22</button>
          <button>23</button>
          <button>24</button>
          <button>25</button>
          <button>26</button>
          <button>27</button>
          <button>28</button>
          <button>29</button>
          <button>30</button>
        </ol>
      </div>
      <div class="ecoActividades">
        <% ecoActividad.forEach(function (ecoActividad) { %>

          <% if(ecoActividad.estado == "aceptado" && ecoActividad.mesEcoActividad == "Noviembre" && ecoActividad.anoEcoActividad == "2022"){ %>
  
            <div class="container p-4">
              <div class="col-md-4">
                  <div class="card">
                      <div class="card-header">
                          <%= ecoActividad.nombreEcoActividad %> / <%= ecoActividad.nombreEncargado %> <%= ecoActividad.apellidoEncargado %>
                      </div>
                      <div class="card-body">
                          <p><%= ecoActividad.diaEcoActividad %>/<%= ecoActividad.mesEcoActividad %>/<%= ecoActividad.anoEcoActividad %>  </p>
                          <p> inicio: <%= ecoActividad.horaInicioEcoActividad %> fin: <%= ecoActividad.horaFinEcoActividad %> </p>
                          <p><%= ecoActividad.detallesEcoACtividad %></p>
                      </div>
                  </div>
              </div>
          </div>
  
          <% } %>
          
      <% }) %>
      </div>
    </div>

    <%- include('partials/toast.ejs')%>
  </body>
</html>